$bg: black;
$text: white;
$navOpacity: 80%;
$navCircleHover: translateX(30%);
$fontSize: 1.5rem;
$arcadia: './assets/images/arcadia.jpg';

.background {
  background-color: $bg;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.scrollText {
  font-size: $fontSize;
  color: $text;
}

// restricts div in space
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 10rem;
  width: 25%;
}


// governs margin
.parallax {
  margin-right: 15%;
}

// governs margin, can change margin
.sticky {
  margin-left: 15%;
}

// information text near images
.text {
  color: $text;
  width: 800px;
  font-size: $fontSize;
}

// navbar section
.navbar {
  color: $text;
  margin-right: 2%;
}

.navbar_topage1 {
  display: flex;
  gap: 8px;
  opacity: $navOpacity;
}

.navbar_topage1:hover {
  opacity: 100%;
}

.navbar_topage1:hover .navbar_topage1_circle {
  transform: $navCircleHover;
}

.navbar_topage2:hover .navbar_topage2_circle {
  transform: $navCircleHover;
}

.navbar_topage3:hover .navbar_topage3_circle {
  transform: $navCircleHover;
}

.navbar_topage2 {
  display: flex;
  gap: 8px;
  opacity: $navOpacity;
}

.navbar_topage2:hover {
  opacity: 100%;
}

.navbar_topage3 {
  display: flex;
  gap: 8px;
  opacity: $navOpacity;
}

.navbar_topage3:hover {
  opacity: 100%;
}

//animation stuff
.diogenLamp {
  animation: diogenLamp 5s linear;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes diogenLamp {

  0%,
  50% {
    transform: translateX(-60%) rotate(15deg);
    opacity: 100%;
  }

  50%,
  75% {
    transform: translateX(-60%) rotate(-15deg);
    opacity: 100%;
  }

  75%,
  99% {
    transform: translateX(-60%) rotate(0deg);
    opacity: 100%;
  }

  99%,
  100% {
    transform: translateX(-60%);
    opacity: 70%;
  }
}

.chicken {
  animation: chicken 3s linear;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes chicken {
  from {
    margin-left: 1000px;
    opacity: 100%;
  }

  to {
    margin-left: 1px;
    opacity: 60%;
  }
}

.animation_text {
  color: $text;
  display: flex;
  position: absolute;
  height: 400px;
  width: 500px;
  right: 300px;
  font-size: 1rem;
  animation: animation_text 5s linear;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  font-size: $fontSize;
  bottom: 350px;
}

@keyframes animation_text {

  0%,
  50% {
    opacity: 0%;
  }

  50%,
  80% {
    opacity: 10%;
  }

  80%,
  99% {
    opacity: 60%;

  }

  99%,
  100% {
    opacity: 100%;
  }
}

.wow {
  height: 100vh;
  width: 100vh;
  color: $text;
  background-color: white;
}

.arcadia {
  width: 150vh;
  height: 100vh;
position: absolute;
}

.header {
  display: flex;
  justify-content: center;
  color: $text;
  background-color: grey;
  height: 2vh;
  width: 100%;
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }

  .parallax {
    margin-right: $fontSize;
  }

  .sticky {
    margin-left: $fontSize;
  }

  // this is  meant to make mobile version more readable

  .alexander {
    opacity: 40%;
  }

  .text {
    width: 60%;
  }

  .navbar_topage1_text {
    display: none;
  }

  .navbar_topage2_text {
    display: none;
  }

  .navbar_topage3_text {
    display: none;
  }

}
