$bg: black;
$text: white;

.background {
    background-color: $bg;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .scrollText {
    font-size: 1.5rem;
    color: $text;
  }
  
  // restricts div in space
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: 10rem;
    width: 25%;
    text-align: center;
    border-radius: 10px;
  }
  

  // governs margin
  .parallax {
    margin-right: 15%;
  }
  
  // governs margin, can change margin
  .sticky {
    margin-left: 15%;
  }

  // information text near images
  .text {
    color: $text;
    width: 800px;
    font-size: 1.5rem;
  }
  
  @media (max-width: 750px) {
    .card {
      width: 40%;
    }
  
    .parallax {
      margin-right: 1.5rem;
    }
  
    .sticky {
      margin-left: 1.5rem;
    }
  }
  